*{
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
}
.imagenfondo{
    background: url(img/fondocolor2.png) bottom / cover fixed #000;
    width: 100%;
    height: 50%;
    padding-top: 12%;
   
}
.nombreempresa{
    font-family: 'Courier New', Courier, monospace;
    color: #603105;
    font-size: 40px;
    margin-left: 520px;
    margin-top: -85px;
    position: relative;
}
body{
    background-color: #FEF7E3;
    .agregado{
        background-color: #FABC6D;
        width: 100%;
        height:40px;
        position: absolute;
    }
    .columnas{
        display: flex;
        height: 100%;
    }
    .productos{
        width: 80%;
        display: inline;
        .pizza{
            background-color: #FEF7E3;
            width: 300px;
            height: 350px;
            border-radius: 30px;
            margin-top: 60px;
            margin-left: 40px;
            box-shadow: 0 0 35px #0008;

            #imgpi{
                width: 200px;
                height: 200px;
                margin-left: 50px;
                margin-top: 20px;
            }
            .titulo{
                font-family: 'Courier New', Courier, monospace;
                text-align: center;
            }
            .descripcion{
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-align: center;
                font-size: 15px;
                color: #0007;
                margin-left: 7px;
                margin-right: 7px;
                margin-top: 7px;
            }
        }
        .pizza2{
            background-color: #FEF7E3;
            width: 300px;
            height: 350px;
            border-radius: 30px;
            margin-top: 60px;
            margin-left: 40px;
            box-shadow: 0 0 35px #0008;

            #imgpi{
                width: 200px;
                height: 200px;
                margin-left: 50px;
                margin-top: 20px;
            }
            .titulo2{
                font-family: 'Courier New', Courier, monospace;
                text-align: center;
            }
            .descripcion2{
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-align: center;
                font-size: 15px;
                color: #0007;
                margin-left: 7px;
                margin-right: 7px;
                margin-top: 7px;
            }
        }
    }
    .publicidad{
        width: 20%;
        #add{
            width: 250px;
            margin-left:20px;
            margin-top: 80px;
        }
    }
    .texto{
        font-size: 20px;
        text-align: justify;
        margin-top: 80px;
    }
}

