*{
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
}
.imagenfondo{
    background: url(img/fondocolor2.png) bottom / cover fixed #000;
    width: 100%;
    height: 50%;
    padding-top: 12%;
   
}
.nombreempresa{
    font-family: 'Courier New', Courier, monospace;
    color: #603105;
    font-size: 40px;
    margin-left: 520px;
    margin-top: -85px;
    position: relative;
}
body{
    background-color: #FFF5C7;
    .agregado{
        background-color: #FABC6D;
        width: 100%;
        height:40px;
        position: absolute;
    }
    .columnas{
        display: flex;
        height: 100%;
    }
    .extra{
        width: 20%;
        #logo{
            width: 200px;
            margin-left: 30px;
            margin-top: 80px;
        }
    }
    .contenido{
        width: 60%;
        margin-right: 40px;
        margin-left: 40px;
    }
    .publicidad{
        width: 20%;
        #add{
            width: 250px;
            margin-left:20px;
            margin-top: 80px;
        }
    }
    .texto{
        font-size: 20px;
        text-align: justify;
        margin-top: 80px;
    }
}

