* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #FEF7E3;
}

.agregado {
    background-color: #FABC6D;
    width: 100%;
    height: 40px;
    position: absolute;
}

.imagenfondo {
    background: url(img/fondocolor2.png) bottom / cover fixed #fff;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nombreempresa {
    color: #603105;
    font-size: 40px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
}
.columnas {
    display: flex;
    height: 100%;
}
.productos {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);/* se utiliza para definir cómo se distribuyen las columnas dentro de un contenedor de tipo "grid" (grilla, cuadricula) */
    gap: 40px;
    padding: 60px 20px 20px 20px;
    justify-items: center;
}
.productos .pizza {
    background-color: #FEF7E3;
    width: 100%;
    max-width: 300px;/*define el ancho máximo que puede tener un elemento*/
    border-radius: 20px;
    box-shadow: 0 0 25px #0008;
    text-align: center;
    padding: 20px;
}
.productos .pizza img {
    width: 200px;
    height: 200px;
    object-fit: cover;/*Hace que una imagen rellene completamente el contenedor, recortando lo que sobre, sin deformarse.*/
}
.productos .pizza .titulo {
    font-size: 18px;
    margin: 10px 0;
}

.productos .pizza .descripcion {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: #0007;
    margin: 5px 10px;
}

.publicidad {
    width: 20%;
    padding: 80px 20px 0 0;
}

.publicidad video {
    width: 100%;
    max-width: 250px;
}

.texto {
    font-size: 18px;
    text-align: justify;
    margin: 60px 20px;
}
.footer{
    height:300px;
    background-color: #d3d0cc;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.redes{
    width: 350px;
    height: 270px;
    justify-items: center;
}
.redes h4 {
    padding-top: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.redes img {
    width: 35px;
    padding: 30px 15px 15px 15px;
}
.redes a{
    text-decoration: none;
}
.ubicacion {
    width: 350px;
    height: 270px;
    border-left: 1px solid #0003;
}
.ubicacion-contenido{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
}
.ubicacion h4{
    padding-top: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.ubicacion img {
    width: 35px;
    padding: 30px 15px 15px 40px;
}
.ubicacion p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 15px;
}
.ubicacion a,
.ubicacion a:visited,
.ubicacion a:hover,
.ubicacion a:active {
    text-decoration: none !important;
    color: #000 !important;
}
